<html>
<head>

<style> 
body
{
 background-color:white;
}
#admlogin
		{			 	
		  width:350px;
		  height:280px;	
		  float:left;	
          margin-top:60px;
	      margin-left:300px;
		}
#adm5
		{
		  height:270px;
		  width:300px;
		  padding-top:20px;
		  font-size:19px;	
		}		
</style>

